<div class="table-container">
<table>
    <thead>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Rede</th>
        <th>IDEB 2017</th>
        <th>IDEB 2019</th>
        <th>IDEB 2021</th>
        <th>IDEB 2023</th>
    </thead>

    <tbody>
        @for (stat of data; track stat){
            <tr>
                <td>{{stat.estado}}</td>
                <td>{{stat.nome}}</td>
                <td>{{redeFromCode(stat.redes[0].rede)}}</td>
                <td>{{truncateFloat(stat.redes[0].ideb2017)}}</td>
                <td>{{truncateFloat(stat.redes[0].ideb2019)}}</td>
                <td>{{truncateFloat(stat.redes[0].ideb2021)}}</td>
                <td>{{truncateFloat(stat.redes[0].ideb2023)}}</td>
            </tr>
        }
    </tbody>
</table>
</div>
