<div class="table-container">
<table>
    <thead>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Rede</th>
        <th>IDEB 2017</th>
        <th>IDEB 2019</th>
        <th>IDEB 2021</th>
        <th>IDEB 2023</th>
    </thead>

    @if (data | async; as data){
        @if (data.length > 0){
            <tbody>
                @for (stat of data; track stat){
                    <tr>
                        <td>{{stat.estado}}</td>
                        <td>{{stat.nome}}</td>
                        <td>{{redeFromCode(stat.rede)}}</td>
                        <td>{{truncateFloat(stat.ideb2017)}}</td>
                        <td>{{truncateFloat(stat.ideb2019)}}</td>
                        <td>{{truncateFloat(stat.ideb2021)}}</td>
                        <td>{{truncateFloat(stat.ideb2023)}}</td>
                    </tr>
                }
            </tbody>
        }
        @else {
            <tbody>
                <p>Nenhum resultado encontrado para a busca!</p>
            </tbody>
        }
    }
</table>
</div>
