table{
     -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px !important;
    border-spacing:0;
}
.table-container {
     -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px !important;
    border: 1px solid #ccc;
    max-height: 400px;
    width: 800px;
    position: relative;
    overflow-y: scroll;
}
thead {
    background-color: #4E71FF;  
    color: white;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    position: sticky;
    top: 0;
    z-index: 10;
}

tbody {
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
}

th, td {
    padding: 0.5em 1em 0.5em 1em !important;
}

th:nth-child(1){
    border-radius: 10px 0 0 0;
}
th:nth-child(7){
    border-radius: 0 10px 0 0;
}
tr:nth-child(even){
    background-color: #EFEDED;
}