.container {
    padding: 1em 3em 1em 3em;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.data-cells, .data-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data-cells-fst {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}
.data-cells-fst p {
    margin-right: 30px;
}
.ml-50 {
    margin-left: 130px;
}

.data-cell {
    margin-right: 30px;
}
.data-cell strong {
    margin-right: 5px;
}
.data-show h4 {
    margin-bottom: 10px;
}
.data-interpretation p {
    max-width: 1300px;
    line-height: 2;
}