<app-navbar></app-navbar>

<div class="container">
  @if (details | async; as details){
  <h1>{{ details.name }}</h1>
  <h3>Notas SAEB (Sistema de Avaliação da Educação Básica)</h3>
  <div class="flex-row">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!"
        [xaxis]="chartOptions.xaxis!"
      ></apx-chart>
    </div>
    
  <div class="data-show">
    <h4 class="ml-50">Dados:</h4>

    <div class="data-cells-fst">
      <div class="data-cell">
        <strong>SAEB 2021:</strong>
        <p>{{ details.saebs.saeb2017.final }}</p> 
        <strong>Matemática:</strong>
        <p>{{ details.saebs.saeb2017.math }}</p> 
        <strong>Português:</strong>
        <p>{{ details.saebs.saeb2017.port }}</p>
      </div>
      
      <div class="data-cell">
        <strong>SAEB 2021:</strong>
        <p>{{ details.saebs.saeb2019.final }}</p> 
        <strong>Matemática:</strong>
        <p>{{ details.saebs.saeb2019.math }}</p> 
        <strong>Português:</strong>
        <p>{{ details.saebs.saeb2019.port }}</p>
      </div>

      <div class="data-cell">
        <strong>SAEB 2021:</strong>
        <p>{{ details.saebs.saeb2021.final }}</p> 
        <strong>Matemática:</strong>
        <p>{{ details.saebs.saeb2021.math }}</p> 
        <strong>Português:</strong>
        <p>{{ details.saebs.saeb2021.port }}</p>
      </div>

      <div class="data-cell">
        <strong>SAEB 2021:</strong>
        <p>{{ details.saebs.saeb2023.final }}</p> 
        <strong>Matemática:</strong>
        <p>{{ details.saebs.saeb2023.math }}</p> 
        <strong>Português:</strong>
        <p>{{ details.saebs.saeb2023.port }}</p>
      </div>
    </div>
  </div>
  </div>


  <div class="data-interpretation">
    <h4>Interpretação:</h4>
    <p>
      O SAEB é um conjunto de avaliações padronizadas de Português (leitura e
      interpretação) e Matemática. A nota final como acima consta, varia de 0
      (zero) a 10 (dez) calculada como a média normalizada das áreas, sendo que cada área varia de 0 a 500. As provas são aplicadas a alunos do 2º, 5º e 9º anos do
      Ensino Fundamental e do 3º ano do Ensino Médio. Também há questionários
      para alunos, professores e funcionários. Observação: notas nulas indicam a ausência de medições.
    </p>
  </div>

  <h3>Notas IDEB (Índice de desenvolvimento da Educação Básica)</h3>

  <div class="flex-row"></div>

  <div class="data-show">
    <h4>Dados:</h4>

    <div class="data-cells">
      <div class="data-cell">
        <strong>IDEB 2017:</strong>
        <p>{{ details.idebs.ideb2017.toFixed(2) }}</p>
      </div>
      <div class="data-cell">
        <strong>IDEB 2019:</strong>
        <p>{{ details.idebs.ideb2019.toFixed(2) }}</p>
      </div>
      <div class="data-cell">
        <strong>IDEB 2021:</strong>
        <p>{{ details.idebs.ideb2021.toFixed(2) }}</p>
      </div>
      <div class="data-cell">
        <strong>IDEB 2023:</strong>
        <p>{{ details.idebs.ideb2023.toFixed(2) }}</p>
      </div>
    </div>
  </div>

  <div class="data-interpretation">
    <h4>Interpretação:</h4>
    <p>
      O cálculo do IDEB utiliza a fórmula NOTA = SAEB × TAXA DE REPROVAÇÃO. O
      INEP considera IDEB acima de 6 como um nível educacional comparável ao de
      países desenvolvidos. Observação: notas nulas indicam a ausência de medições.
    </p>
  </div>
  } @else {
  <p>Carregando dados...</p>
  }
</div>
